html, body{
	margin:0;
	padding : 0;
}

#titre{
font-size: 2em;
color :blue;
}

#progressbar-container{
	position = fixed;
	top = 0px;
	left = 0;
	right = 0;
	width = 100%;
	height = 15px;

}

#progress-bar{
	position: relative;
	height: 100%;
	bottom: 233px;
	background: red;
	color : red;
	box-shadow: 0 0 0 1px rgba(44,195,107,1.0);

	width: 0%;

}

#progress-bar-elements{
	display: none;
}

